<h1>
  Emart Adding products Page (SELLER)
</h1>

      <div class="container container">
          <div class="row ">
              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12">
                  <table class="table table-borderless">
                    <a href="addbooks"><button class="btn btn-success" type="submit">Add books</button></a>&emsp;


                    <a href="delbooks"><button class="btn btn-success" type="submit">delete books</button></a>&emsp;


                    <a href="addele"><button class="btn btn-success" type="submit">Add electronics products</button></a>&emsp;


                    <a href="delele"><button class="btn btn-success" type="submit">delete electronics </button></a>&emsp;


                    <a href="addgro"><button class="btn btn-success" type="submit">Add grocery products</button></a>&emsp;


                    <a href="delgro"><button class="btn btn-success" type="submit">delete grocery products</button></a>
                    <br>
                    <br>

                    <a href="addmob"><button class="btn btn-success" type="submit">Add mobiles</button></a>&emsp;


                    <a href="delmob"><button class="btn btn-success" type="submit">delete mobiles</button></a>&emsp;


                    <a href="adddecor"><button class="btn btn-success" type="submit">Add Home decor products</button></a>&emsp;


                    <a href="deldecor"><button class="btn btn-success" type="submit">delete home decor products</button></a>&emsp;
                    <br>
                    <br>

                  </table>
              </div>
          </div>
      </div>